@media(max-width screenSM)
	.favorable
		size(100%, 2150px)
		&-blocks
			width screenSM - 150px
			flex-direction column
		&-block
			width inherit
			&__img
				width 100%
				margin 0 0 10px 0
				&-inner
					width 100%
			&__text
				width 100%