@media(max-width screenMD)
	.favorable
		width 100%
		&-blocks
			width 100%
			padding 30px 70px
		&-block
			width 70%
			margin-bottom 25px
			&__img
			&__img-inner
				width 100%
			&__text
				width 80%
				padding-top 15px
				margin-left auto
				margin-right auto