@media(max-width screenSM - 1px)
	.favorable
		height auto
		&-blocks
			flex-flow row wrap
			height auto
			padding 15px 25px
		&-block
			height auto
			margin-bottom 50px
			&__text
				height auto