.favorable
	wid()
	margin 0 auto
	padding 100px 0
	&__title
		title()
	&-blocks
		display flex
		justify-content space-between
		align-items center
		flex-flow row wrap
		padding-top 60px
	&-block
		display flex
		justify-content space-between
		align-items flex-sart
		margin 0 0 30px 0
		size(570px, 215px)
		&__text
			size(270px)
		&-title
			latoBold()
			font-size 15px
			color #3c3c3c
			margin-bottom 15px
		&__descr
			arial()
			font-size 14px
			color #959595