.favorable
	wid()
	margin 0 auto
	padding 94px 0 71px 0
	&__title
		title()
	&-blocks
		display flex
		justify-content space-between
		align-items center
		flex-flow row wrap
		padding-top 60px
	&-block
		display flex
		justify-content space-between
		align-items flex-sart
		margin 0 0 30px 0
		size(570px, 215px)
		&__text
			size(270px)
			padding-top 9px
		&-title
			latoBold()
			font-size 15px
			color #3c3c3c
			margin-bottom 15px
		&__descr
			text-align justify
			arial()
			font-size 14px
			line-height 1.6
			color #959595