@media(max-width screenXL - 1px)
	.favorable
		width 100%
		padding 65px 0
		margin 0 auto
		&-blocks
			size(700px, 1000px)
			padding 30px 35px 0
			margin 0 auto
		&-block
			size(270px, 485px)
			flex-direction column