@media(max-width screenMD)
	.nav
		width 90%
		position relative
		&__menu
			display none
			flex-direction column
			padding 0 0 0 15px
			size(200px, auto)
			position absolute
			top 100px
			right -10%
			background-color #FFFFFF
			transition translateX 2s
			transform translateX(600px)
		&__menu--active
			display flex
			transition translateX 2s
			transform translateX(0)
		&__item
			height 100%
			border-bottom 2px solid mainColor
			&:last-child
				border none
		&__link
			display block
			size(100%, 100%)
			padding 10px 0
			text-align center
	.burger
		display flex
		justify-content space-around
		flex-flow column wrap
		size(40px, 40px)
		cursor pointer
		&__line
			transition all .5s
			display block
			position relative
			top 5px
			size(100%, 4px)
			background-color mainColor
			border-radius 4px
		&--active > *
			transition all .5s
			&:first-child
				transform rotate(45deg)
			&:last-child
				transform rotate(-45deg)
				margin-top -100%
			&:nth-child(even)
				display none
			// &:before
			// 	content ''
			// 	display block
			// 	position relative
			// 	top 12px
			// 	size(100%, 4px)
			// 	background-color mainColor
			// &:after
			// 	content ''
			// 	display block
			// 	position relative
			// 	top 20px
			// 	size(100%, 4px)
			// 	background-color mainColor
				
			