.favorable
	.section-title
		h2.favorable__title Favorable
		.subtitle__line
	.favorable-blocks
		.favorable-block
			.favorable-block__img
				img(src="static/img/content/favorable-1.png").favorable-block__img-inner
			.favorable-block__text
				h3.favorable-block-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
				p.favorable-block__descr Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit.
		.favorable-block
			.favorable-block__img
				img(src="static/img/content/favorable-2.png").favorable-block__img-inner
			.favorable-block__text
				h3.favorable-block-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
				p.favorable-block__descr Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit.
		.favorable-block
			.favorable-block__img
				img(src="static/img/content/favorable-3.png").favorable-block__img-inner
			.favorable-block__text
				h3.favorable-block-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
				p.favorable-block__descr Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit.
		.favorable-block
			.favorable-block__img
				img(src="static/img/content/favorable-4.png").favorable-block__img-inner
			.favorable-block__text
				h3.favorable-block-title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
				p.favorable-block__descr Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit.