footer.footer
	.footer-wrap
		h2.footer__title Contacts
		.footer-bottom
			.footer-left
				.footer-logo
					img(src="static/img/content/logo.png").footer-logo__pic
				p.footer__descr Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				.footer-contacts
					.footer-contacts__address So 188 Nguyen Xien, Thanh Xuan, Ha Noi
					.footer-contacts__phone +84 985 234 812
					.footer-contacts__mail Huuluong.arc@gmail.com
					.footer-contacts__site kientructrinhgia.vn
				.footer-social
					a(href="#").footer-social-bg
						img(src="static/img/content/footer__fb.png")
					a(href="#").footer-social-bg
						img(src="static/img/content/footer__gp.png")
					a(href="#").footer-social-bg
						img(src="static/img/content/footer__in.png")
					a(href="#").footer-social-bg
						img(src="static/img/content/footer__tw.png")
			.footer-right
				form.footer-form
					input(type="text" placeholder="Your name").footer-form__name
					input(type="email" placeholder="Email").footer-form__emain
					textarea(placeholder="Email").footer-form-message