header.header
	nav.nav
		a(href="#").nav__logo
			img(src="static/img/content/logo.png").nav__img
		.burger
			span.burger__line
			span.burger__line
			span.burger__line
		ul.nav__menu
			li.nav__item: a(href="#").nav__link Home
			li.nav__item: a(href="#").nav__link Tour
			li.nav__item: a(href="#").nav__link Hotel
			li.nav__item: a(href="#").nav__link Culinary
			li.nav__item: a(href="#").nav__link Contact