.hero
	.hero-text
		h1.hero__title Đảo Cát Bà
		p.hero__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt #[<br>] ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod #[<br>] tempor incididunt ut labore et dolore magna aliqua.
		.button.hero__booking
			a(href="#").hero__link booking tour

