.hero
	.hero-text
		h1.hero__title Đảo Cát Bà
		p.hero__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.hero__booking
			a.hero__link booking tour

