.service
	.service-slider-wrap
		.service-slider
			img(src="static/img/content/service-slide-1.png").service-slider__item
			img(src="static/img/content/service-slide-2.png").service-slider__item
			img(src="static/img/content/service-slide-3.png").service-slider__item
	.service-descr
		.section-title
			h2.service__title Service
			.subtitle__line
		.service-features
			.service-feature
				.service-feature__pic
					img(src="static/img/content/service__fork.png" alt="service feature")
				p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			.service-feature
				.service-feature__pic
					img(src="static/img/content/service__hotel.png" alt="service feature")
				p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			.service-feature
				.service-feature__pic
					img(src="static/img/content/service__vacation.png" alt="service feature")
				p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			.service-feature
				.service-feature__pic
					img(src="static/img/content/service__bus.png" alt="service feature")
				p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium