.service
	.service-slider
	.serviece-descr
		.section-title
			h2.service__title
			.subtitle__line
		.service-feature
			img(src="static/img/content" alt="service feature").service-feature__pic
			p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
		.service-feature
			img(src="static/img/content" alt="service feature").service-feature__pic
			p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
		.service-feature
			img(src="static/img/content" alt="service feature").service-feature__pic
			p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
		.service-feature
			img(src="static/img/content" alt="service feature").service-feature__pic
			p.service-feature__descr sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium