.tours
	.section__title
		h2.tours__title
		.subtitle__line
	.tours-places
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img
		a.tours-places__item
			img(src="#").tours__img