.tours
	.section__title
		h2.tours__title Tours
		.subtitle__line
	.tours-places
		a(href="#").tours-places__item
			img(src="static/img/content/tour__1.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__2.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__3.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__4.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__5.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__6.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__7.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__8.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__9.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__10.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__11.png").tours__img
		a(href="#").tours-places__item
			img(src="static/img/content/tour__12.png").tours__img
	.button.tours-see-more
		a(href="#").tours-see-more__link See More