// Шапка
@import 'header/header.styl'
@import 'header/headerLG.styl'
@import 'header/headerMD.styl'
@import 'header/headerSM.styl'

// Футера
@import 'footer/footer.styl'
@import 'footer/footerLG.styl'
@import 'footer/footerMD.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "hero/hero.styl"
@import "hero/heroLG.styl"
@import "hero/heroMD.styl"
@import "hero/heroSM.styl"

@import "favorable/favorable.styl"
@import "favorable/favorableLG.styl"
@import "favorable/favorableMD.styl"
@import "favorable/favorableSM.styl"

@import "service/service.styl"
@import "service/serviceLG.styl"
@import "service/serviceMD.styl"
@import "service/serviceSM.styl"

@import "tours/tours.styl"
@import "tours/toursLG.styl"
@import "tours/toursMD.styl"
@import "tours/toursSM.styl"