// Шапка
@import 'header/header.styl'
@import 'header/headerLG.styl'

// Футера
@import 'footer/footer.styl'
@import 'footer/footerLG.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "hero/hero.styl"
@import "hero/heroLG.styl"

@import "favorable/favorable.styl"
@import "favorable/favorableLG.styl"

@import "service/service.styl"

@import "tours/tours.styl"
@import "tours/toursLG.styl"