.button
	margin 0 auto
	width 285px
	height 70px
	border none
	border-radius 5px
	background mainColor
	font-size 26px
	text-transform uppercase
	latoBold()
.button-fade
	box-shadow: 3px 5px 26px 3px rgba(89,196,90,1)
.footer-form__submit
	color #ffffff
	cursor pointer
	size(230px, 70px)