.service
	display flex
	background-color #efeeee
	size(100%, 615px)
	&-slider-wrap
		size(50vw, 100%)
	&-descr
		size(50vw)
		padding 55px 0 0 0
	&__title
		title()
	&-features
		display flex
		justify-content space-around
		flex-flow row wrap
		padding 40px 0 0 0
	&-feature
		size(380px, 175px)
		margin 0 0 30px
		color #959595
		&__pic
			text-align center
			margin 0 0 20px 0
		&__descr
			text-align justify