@media(max-width screenSM)
	.service
		height 1460px
		padding-bottom 40px
		&-slider-wrap
			size(100%, 300px)
		&-features
			width screenSM - 140px
			height 1000px
		&-descr
			width 90%
		&-feature
			width 300px
			size(300px, 220px)
			margin-bottom 15px