@media(max-width screenMD)
	.service
		display flex
		flex-flow row wrap
		size(100%, auto)
		&-slider-wrap
			width 80%
		&-slider__item
			width 100%
		&-descr
			width 80%
		&-feature
			margin-bottom 40px
			size(250px, 260px)