.service
	display flex
	background-color #efeeee
	width 100%
	&-slider-wrap
		margin-top 70px
		width 50%
		overflow hidden
	&-descr
		width 50%
		padding 55px 0 0 0
	&__title
		title()
	&-features
		display flex
		justify-content space-around
		flex-flow row wrap
		padding 25px 0 0 25px
	&-feature
		size(300px, 220px)
		margin 0 0 30px
		color #959595
		&__pic
			text-align center
			margin 0 0 20px 0
		&__descr
			font-size 14px
			font-weight 500
			text-align justify
			line-height 1.7