@media(min-width screenLG)
	.footer
		padding 65px 0 95px 0
		&-bottom
			width 880px
			margin 0 auto
		&-left
			size(50%, 100%)
		&__descr
			width 400px

		&-right
			size(50%, 100%)
		&-form
			width 90%