.footer
  flex 0 0 auto
  color greyColor
  background-color: #efeeee
  &-wrap
  	wid()
  	margin 0 auto
 	&__title
 		text-align center
 		margin 0 0 58px 0 
 	&-bottom
 		display flex
 		border 1px solid #c9c9c9
 		heigth 485px
 	&-left
 		padding 45px 0 0 30px
 		size(585px, 485px)
 		border-right 1px solid #c9c9c9
 	&-logo
 		margin 0 0 30px 0
 	&__descr
 		margin 0 0 25px 0
 	&-contacts
 		&__address
 			margin 0 0 16px 0
 			&:before
 				display inline-block
 				content url(../img/content/footer__map.png)
 				margin 0 18px 0 0
 		&__phone
 			margin 0 0 16px 0
 			&:before
 				display inline-block
 				content url(../img/content/footer__phone.png)
 				margin 0 18px 0 0
 		&__mail
 			margin 0 0 16px 0
 			&:before
 				display inline-block
 				content url(../img/content/footer__mail.png)
 				margin 0 18px 0 0
 		&__site
 			margin 0 0 35px 0
 			&:before
 				display inline-block
 				content url(../img/content/footer__web.png)
 				margin 0 18px 0 0
 	&-social
 		display flex
 		justify-content space-between
 		size(190px, 40px)
	 	&-bg
	 		display flex
	 		justify-content center
	 		align-items center
	 		background-color #c9c9c9
	 		size(40px, 40px)
	 		border none
	 		border-radius 3px
	 		&:hover
	 			background-color mainColor
.footer	 			
	&-right
		size(585px)
		padding 35px 0 0 30px
	&__inputs
		border none
		border-bottom 1px solid #c9c9c9
		background-color footerColor
		margin 0 0 30px 0
		height 30px
	&-form
		size(523px)
		display flex
		flex-direction column
		&__message
			height 125px