@media(max-width screenLG)
	.footer
		padding 65px 0 95px 0
		&-bottom
			width 90%
			height 550px
			margin 0 auto
		&-left
			size(50%, 100%)
			padding-right 20px

		&-right
			size(50%, 100%)
		&-form
			width 90%